<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:08:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestCases.CrossBrowserTesting(java.lang.String)[pri:0, instance:FunctionalTest.TestCases@7a92922]">&gt;&gt;CrossBrowserTesting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:08:50</td>   <td>10676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.computeValues()[pri:0, instance:FunctionalTest.TestCases@7a92922]">computeValues</td> 
  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:06</td>   <td>26465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.clickNewLink()[pri:1, instance:FunctionalTest.TestCases@7a92922]">clickNewLink</td> 
  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:06</td>   <td>26825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.keyboard()[pri:2, instance:FunctionalTest.TestCases@7a92922]">keyboard</td> 
  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:14</td>   <td>34500</td> <td>&nbsp;</td><td title="&lt;&lt;TestCases.closeBrowser()[pri:0, instance:FunctionalTest.TestCases@7a92922]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:15</td>   <td>35428</td> <td>&nbsp;</td><td title="&gt;&gt;TestCases.CrossBrowserTesting(java.lang.String)[pri:0, instance:FunctionalTest.TestCases@7907ec20]">&gt;&gt;CrossBrowserTesting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:21</td>   <td>41637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.computeValues()[pri:0, instance:FunctionalTest.TestCases@7907ec20]">computeValues</td> 
  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:41</td>   <td>61748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.clickNewLink()[pri:1, instance:FunctionalTest.TestCases@7907ec20]">clickNewLink</td> 
  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:42</td>   <td>62151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.keyboard()[pri:2, instance:FunctionalTest.TestCases@7907ec20]">keyboard</td> 
  <td>TestNG@1185563593</td>   <td></td> </tr>
<tr bgcolor="da9e97">  <td>19/11/29 10:09:47</td>   <td>67705</td> <td>&nbsp;</td><td title="&lt;&lt;TestCases.closeBrowser()[pri:0, instance:FunctionalTest.TestCases@7907ec20]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1185563593</td>   <td></td> </tr>
</table>
